extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-push-8
        .panel.panel-primary.client-controls
          .panel-heading
            h3.panel-title Make a call
          .panel-body
            p
              strong Status
            #call-status.well.well-sm
              | Connecting to Twilio...
            button.btn.btn-lg.btn-success.answer-button(disabled="") Answer call
            button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Hang up
      .col-md-8.col-md-pull-4
        each contact in contacts
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | ID: !{contact.id}
                small.pull-right !{contact.createdAt.toLocaleString('en-US', { hour12: false })}
            .panel-body
              .pull-right
                button.btn.btn-primary.btn-lg.call-customer-button(onclick="callCustomer('#{contact.phoneNumber}')", type="button")
                  span.glyphicon.glyphicon-earphone(aria-hidden="true")
                  |  Call customer
              p
                strong Name:
                |  !{contact.name}
              p
                strong Phone number:
                |  !{contact.phoneNumber}
              p
                strong Description:
              |  !{contact.description}
        

    
